<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="thisConnectionString" connectionString="Data Source=DESKTOP-0G4DA0T\SQLEXPRESS;Initial Catalog=ComercioLUG;Integrated Security=True" providerName="System.SqlClient"/>
	</connectionStrings>
	
</configuration>